@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply w-full h-full !important;
    } 

    body {
        @apply w-full h-full !important;
        background-color: #F0F0F0;
    } 
    
    #root {
        @apply w-full h-full text-gray-800;
        display: grid;
        grid-template-rows: auto 1fr auto;
    } 
}

@layer utilities {
    @variants hover, focus {
        .filter-shadow-sm {
            filter: drop-shadow(0px 4px 6px black);
        }
    }
    .w100 {
        width: calc(100% - theme('spacing.12'));
    }
}