.decksWrapper {
    display: flex;
    flex-flow: row wrap;
} 

.main {
    flex: 1 1 auto;
    margin: 0 5rem;
}

@media only screen and (max-width: 600px) {
    .main {
        flex: 0 1 100%;
        margin: auto;
    }
}
/* 
.filters {
    flex: 1 100%;
}

.main {
    flex: 1 100%;
}

@media all and (min-width: 800px) {
    .filters {
        flex: 1 auto;
    }
    .main {
        flex: 2 100%;
    }
} */