.cardContainer {
    background-color: magenta;
    position: relative;
    width: 20rem;
    margin-bottom: 1rem;
}
/* 
.mobileDeckAccessor {
    display: none;
} */

.fullscreenDeck {
    position: fixed;
    background-color: white;
    z-index: 2;
    overflow-y: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    opacity: 0;
    -webkit-overflow-scrolling: touch;
}

@media only screen and (max-width: 768px) {
    .cardContainer {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .sideDeck {
        display: none;
    }
    
    .fullscreenDeck {
        display: block;
    }   
}

.card {
    display: flex;
    height: auto;
    flex-flow: column;
}

.expandButton {
    position: absolute;
    top: 25px;
    right: 10px;
    z-index: 100;
}

.cardHeader {
    background-color: lightblue;
    display: flex;
    min-height: 50px;
    flex-grow: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cardImg {
    width: 98%;
    margin: 1%;
}

.cardFooter {
    background-color: lightsalmon;
    display: flex;
    min-height: 50px;
    flex-grow: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
